@model Keebee.AAT.Administrator.ViewModels.ConfigEditViewModel

<div class="container">
    @if (Model.SourceConfigName != null)
    {
         <h4>Create a duplicate of: <b>@Model.SourceConfigName</b></h4>
    }
    <div class="row">
        <div class="col-sm-6">
            <div class="label label-default">Name</div>
            <input type="text" id="txtDescription" class="form-control" value="@Model.Description" maxlength="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="label label-default">Turn On Event Logging</div>
            @if (Model.IsActiveEventLog)
            {
                <div><input type="checkbox" class="form-control checkbox-size" id="chkIsActiveEventLog" checked /></div>
            }
            else
            {
                <div><input type="checkbox"class="form-control checkbox-size" id="chkIsActiveEventLog" /></div>
            }
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>