@{
    ViewBag.Title = "Phidget Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document)
        .ready(function () {
            phidgetconfig.index.init();
        });
</script>

<div class="row">
    <div class="col-sm-6">
        <h3>Phidget Configuration</h3>
    </div>
    <div class="col-sm-6">
        <div class="active-config-label">
            <h5>Active: <i><label id="lblActiveConfigDesc" data-bind="text: activeConfigDesc, css: 'label-active-config'"></label></i></h5>
        </div>
        <div class="active-eventlog-label">
            <h5>Event Logging: <i><label id="lblActiveEventLog" data-bind="text: activeEventLogDesc"></label></i></h5>
        </div>
    </div>
</div>

<div class="container config-container">
    <div class="row row-config-controls">edit
        <div class="col-sm-4">
            <select class="form-control" data-bind="options: configs, optionsValue: 'id', optionsText: 'description', value: selectedConfig, event: { change: enableDetail }, css: 'select-config'"></select>
        </div>
        <div id="col-button-container"class="col-sm-6" hidden>
            <a id="add" href="javascript:void(0)" class="btn btn-add btn-md" data-bind="click: editConfig(true), css: 'glyphicon glyphicon-duplicate button-text'"></a>
            <a id="edit" href="javascript:void(0)" class="btn btn-edit btn-md" data-bind="click: editConfig(false), css: 'glyphicon glyphicon-pencil button-text'"></a>
            <a id="delete" href="javascript:void(0)" class="btn btn-danger btn-md" data-bind="click: deleteConfig, css: 'glyphicon glyphicon-trash button-text'"></a>
        </div>
        <div class="activate-button">
            <button id="activate" class="btn btn-edit btn-md" data-bind="click: activateConfig" disabled>Activate</button>
        </div>
    </div>

    <div class="panel panel-default panel-no-body">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li>
                    <button id="add-detail" class="btn btn-add btn-md" data-bind="click: editDetail" disabled>Add Detail</button>
                </li>
                <li class="pull-right record-total">
                    <label>Total:</label> <span data-bind="text: totalConfigDetails()"></span>
                </li>
            </ul>
        </div>
    </div>

    <div id="loading-container" class="loading"><img src="~/Content/images/page-loading.gif" alt="Loading..."></div>
    <div id="error-container" hidden></div>

    <div class="panel panel-default">
        <div class="panel-body panel-body-table-header">
            <table data-bind="tableUpdated: configDetails"  class="table table-striped table-bordered table-hover" id="tblConfigDetail" hidden>
                <thead>
                    <tr>
                        <th class="col-glyphicon col-glyphicon-lg"></th>
                        <th class="col-glyphicon col-glyphicon-lg"></th>
                        <!-- ko foreach: columns -->
                        <th data-bind="text: title, css: cssClass"></th>
                        <!-- /ko -->
                    </tr>
                </thead>

                <tbody data-bind="foreach: configDetailsTable, setTooltips: configDetailsTable">
                    <tr data-bind="click: $parent.highlightRow, attr: {id: 'row_' +  id}">
                        <!-- ko if: canedit -->
                        <td><a href="javascript:void(0)" data-bind="click: $parent.deleteDetail, css: 'glyphicon glyphicon-trash glyphicon-lg'"></a></td>
                        <td><a data-bind="attr: { href: '#' }, click: $parent.editDetail, css: 'glyphicon glyphicon-pencil glyphicon-lg'"></a></td>
                        <!-- /ko -->
                        <!-- ko if: !canedit -->
                        <td><span data-bind="css: 'glyphicon glyphicon-flag glyphicon-lg'"></span></td>
                        <td><span data-bind="css: 'glyphicon glyphicon-flag glyphicon-lg'"></span></td>
                        <!-- /ko -->
                        <td data-bind="text: phidgettype"></td>
                        <td data-bind="text: phidgetstyletype"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: location"></td>
                        <td data-bind="text: responsetype"></td>
                        <!-- ko if: issystem -->
                        <td style="text-align: center;"><span class="glyphicon glyphicon-ok glyphicon-lg"></span></td>
                        <!-- /ko -->
                        <!-- ko if: !issystem -->
                        <td></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
