@model Keebee.AAT.Administrator.ViewModels.ChangePasswordViewModel
    
<div class="container container-change-password">
    <div class="row">
        <div class="col-xs-12">
            <div class="label label-default">Existing Password</div>
            <input type="password" id="txtOldPassword" class="form-control has-error" value="@Model.OldPassword" maxlength="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="label label-default">New Password</div>
            <input type="password" id="txtNewPassword" class="form-control has-error" value="@Model.NewPassword" maxlength="50" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="label label-default">Retype New Password</div>
            <input type="password" id="txtRetypeNewPassword" class="form-control has-error" value="@Model.RetypedNewPassword" maxlength="50" />
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>