<div class="container container-change-password">
    <div class="row">
        <div class="col-xs-12">
            <input type="button" id="reset" class="btn btn-edit" value="Reset Now"/>
        </div>
    </div>
</div>