body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
  color: #838383;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 400px;
}
hr {
    margin: 5px;
    color: #5b5959;
}
img {
    image-orientation: from-image;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* for the inner container overlow scroll bar */
/* must correspond to maxClientHeight value in ~/Scripts/Site/Site.js */
.container-height {
   height: 550px;   
}

/* for h3 banners at top of page */
.page-banner {
    margin-top: 13px;
}
.page-banner-row {
    padding-top: 6px;
}
.login-banner {
    margin: 18px 0 15px 15px;
    text-align: center;
    font-size: 1.4em;
    color: #e4e0e0;
}

/* audio and video tags */
audio { 
   display:none;
}

video {
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 800px) {
  .container {
    /*width: 850px;*/
  }
}
@media (min-width: 500px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

/* bootstrap navbar */
.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  padding-top: 0;
}
.navbar .navbar-brand img {
  border: solid 1px #838383;
}
.navbar .navbar-nav li a {
  margin: 0;
  font-size: 16px;
}
.navbar a {
  color: #e1e0e0;
}
.navbar a:focus {
  color: #ffffff;
}

.navbar .nav.navbar-nav > .open > a,
.navbar .nav.navbar-nav > .open > a:hover,
.navbar .nav.navbar-nav > .open > a:focus {
  background-color: #231b10;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #231b10;
}

/* login */
.greeting {
    float: right;
    margin-top: 15px;
    list-style: none;
}
.greeting ul {
    list-style: none;
}
#menu-login {
    color: #448af6;
}

/* validation */
.validation-container {
    color: #c12e2a;
}

 /* dialog */
.modal-dialog{
    position: relative;
    display: table;
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;   
}
.bootstrap-dialog.type-primary .modal-header {
    background-color: #346b9a;
}

.modal-body {
    padding-top: 10px;
}

/* container */
.container-login {
    width: 360px;
    margin: 80px auto 100px;
    padding-bottom: 20px;
    border: 1px solid  #716d6d;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.6) 0 0 10px;
}
.container-change-password {
    padding: 0;
    width: 250px;
}
.container-resident-edit {
    padding: 0;
    width: 250px;
}
.container-profile-picture {
    margin: 0;
    padding: 0 0 5px 5px;
    background-color: #f6f7fc;
    border: 1px solid  #ccc;
    border-radius: 3px;
    width: 240px;
}
.container-config-edit {
    padding: 0;
    width: 370px;
}
.container-config-detail-edit {
    padding: 0;
    width: 300px;
}
.container-image-viewer {
    padding: 0;
    width: auto;
    height: auto;
    background-color: yellow;
}
.container-video-preview {
    width: 200px;
}

/* row */
.row {
    padding: 5px;
}
.row-table-header {
    margin: 0;
}
.row-video-capture-edit {
    padding-bottom: 10px;
}
.row-profile-picture-label {
    padding: 0;
    margin-left: -11px;
}
.row-profile-picture-edit {
    padding: 0 0 0 5px;
}
.row-config-controls {
    padding-left: 0;
    margin-bottom: 5px;
}
.row-residents-banner {
    margin-top: -12px;
}
.row-login-banner {
    padding: 5px;
    background-color: #101112;
    margin-bottom: 20px;
}
.row-login-button {
    padding: 0 5px;
}
/* radio button */
.radio-gender-select {
    padding-top: 0;
    margin-top: 0;
}

/* resident manager heading and filters */
.form-control-id {
    width: 100px;
}
.title-residents {
    padding-top: 5px;
}

/* override bootstraps td settings for vertical-align */
.table > tbody > tr > td {
  vertical-align: middle;
}

/* table */
.table {
    margin-bottom: 0;
}
.table-striped tbody tr.highlight td {
    background-color: #e6f3ff;
}
/* remove border from sticky header and align center */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border: none;
    vertical-align: middle;
}
.table-detail-container {
    overflow-y: auto;
}
.table-header-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* filter */
.select-filter {
    min-width: 200px;
}
.description-filter {
    width: 250px;
}

/* total files counter */
.total-files {
    padding-top: 5px;
    width: 75px;
}
.total-residents {
    padding-top: 5px;
    width: 60px;
}

/* resident profile */
.back-to-residents-container {
    margin: -60px 5px 0 0;
}
.add-button-container {
    font-size: 16px;
    margin: 0 0 5px 3px;
}

/* phidget confguration */
.config-container {
    margin-left: -10px;
}
.active-config-label {
    float: right;
}
.active-eventlog-label {
    float: right;
    margin-right: 20px;
}
.label-active-config {
    color: #419641;
}
.col-issytem {
    width: 70px;
}

/* tables/panels */
.panel-heading-controls {
    padding-left: 5px;
    margin: 0;
}
.panel-body-table-header {
    padding: 0;
}
.panel-no-body {
    margin-bottom: 10px;
}
/* no media found message */
.no-records-found {
    text-align: center;
    color: lightgray;
    padding-bottom: 10px;
}
.record-total {
    margin-top: 8px;
}

 /* checkbox */
.checkbox-size-lg {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}
.checkbox-form {
    width: 20px;
    height: 20px;
    padding-top: 5px;
}
.checkbox-size {
    width: 15px;
    height: 15px;
}
input[type="checkbox"] {
  margin-top: 0;
}

.virtualPlaceholderImage {
    display: block;
    width: 40px;
    background: transparent;
}
/* table columns */
.col-checkbox {
    width: 1%;
}
.col-thumbnail {
    width: 5%;
    text-align: center;
}
.col-filename {
    width: 70%;
}
.col-filetype {
    width: 5%;
    text-align: center;
}
.col-filesize {
    width: 10%;
}
.col-islinked {
    width: 2%;
    text-align: center;
}
/* shared library */
.col-filename-sl {
    width: 72%;
}
.col-linked-profiles {
    width: 2%;
}

/* system profile */
.col-filename-sp{
    width: 60%;
}
.col-filetype-sp {
    width: 10%;
    text-align: center;
}
.col-filesize-sp {
    width: 15%;
}

/* event logs / video captures */
.col-filename-el {
    width: 50%;
}
.col-path {
    width: 20%;
}

/* resident table */
.col-glyphicon {
    width: 4%;
    text-align: center;
}
.col-firstname {
    width: 25%;
}
.col-lastname {
    width: 20%;
}
.col-id {
    width: 5%;
}
.col-gender {
    width: 8%;
    text-align: center;
}
.col-capturable {
    width: 7%;
    text-align: center;
}
.col-date {
    width: 10%;
    text-align: center;
}
.col-profile-picture {
    width: 10%;
    text-align: center;
}
.col-profile-picture-scrollbar {
    width: 11.5%;
    text-align: center;
}

/* font-awesome */
.fa-resident {
    font-size: 20px;
}

/* bootstrap glyphicon */
.glyphicon-transparent {
    color: transparent;
}
.glyphicon-resident {
    font-size: 16px;
    padding-right: 5px;
}
.glyphicon-play, .glyphicon-pause {
    font-size: 20px;
}
.glyphicon-remove, .glyphicon-trash {
    color: #c12e2a;
}
.glyphicon-pencil {
    color: #265a88;
}
.play-paused {
    color: #419641;
}
.glyphicon-cd {
    color: #419641;
}
/* button */
.button-text {
    color: #fff;
}
.add-media-button {
    width: 160px;
}
.upload-media-button {
    width: 165px;
}
.activate-button {
    float: right;
    margin-right: 10px;
}
.add-resident-button {
    float: right;
    padding-right: 10px;
}
.maintenance-button {
    width: 146px;
}
.media-delete-button {
    margin-right: 40px;
}
.login-button {
    margin-top: 10px;
}

/* dropdown */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* progress bar for profile picture upload */
.progressBar {
	background-color: #419641;
	width: 0;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-moz-transition: .25s ease-out;
	-webkit-transition: .25s ease-out;
	-o-transition: .25s ease-out;
	transition: .25s ease-out;
}

/* for the page loading gif */
.loading {
    margin: auto; 
    text-align: center;
}

/* for the please wait... messages */
.message-please-wait {
    margin: auto; 
    text-align: center;
}
    
    