body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
  color: #838383;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 400px;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
@media (min-width: 800px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 500px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}
/* Bootstrap Navbar */
.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  padding-top: 0;
}
.navbar .navbar-brand img {
  border: solid 1px #838383;
}
.navbar .navbar-nav li a {
  margin: 0;
  font-size: 16px;
}
.navbar a {
  color: #e1e0e0;
}
.navbar a:focus {
  color: #ffffff;
}
.navbar .nav.navbar-nav > .open > a,
.navbar .nav.navbar-nav > .open > a:hover,
.navbar .nav.navbar-nav > .open > a:focus {
  background-color: #231b10;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #231b10;
}

/* custom */
#validation-container {
    color: #c12e2a;
}
.edit-dialog-container {
    width: 450px;
}
.modal-content {
    width: 470px;
}
.record-total {
    margin-right: 10px;
}
.resident-edit {
    width: 400px;
}
.config-container {
    width: 780px;
    margin-bottom: 10px;
}
.col-profile {
    width: 30px;
}
.col-glyphicon {
    width: 20px;
}
.glyphicon-remove {
    color: #c12e2a;
}
.glyphicon-pencil {
    color: #265a88;
}
.glyphicon-cd {
    color: #419641;
}
.button-text {
    color: #fff;
}
.active-config-container {
    float: right;
    padding: 0;
    margin: 20px 10px 0 0;
}
.active-config-label {
    float: right;
}
.active-eventlog-label {
    float: right;
    margin-right: 20px;
}
.label-active-config {
    color: #419641;
}

