@model Keebee.AAT.Administrator.ViewModels.ConfigEditViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="label label-default">Description</div>
            <input type="text" id="txtDescription" class="form-control" value="@Model.Description" maxlength="50"/>
        </div>
    </div>
    <div class="validation-container" id="validation-container"></div>
</div>