<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CompanyUUID" value="00-00-00-00-00-00-00-00-00-00-00-00-00-41-41-54"/>
    <add key="FacilityId" value="0"/>  <!-- Dunnville -->
    <add key="BeaconReadInterval" value="1000"/>

    <add key="InRangeThresholdInDB" value="-80"/>
    <add key="OutOfRangeThresholdInDB" value="-100"/>
    <add key="OutOfRangeTimeout" value="4000"/>  <!-- in milliseconds -->
  </appSettings>
</configuration>