<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="AmbientVideoDuration" value="5000"/>       <!-- 30 seconds -->
    <add key="AmbientInvitationDuration" value="5000"/>  <!-- 10 seconds -->
    
    <add key="InvitationMessage1" value="Touch The Screen"/>
    <add key="InvitationMessage2" value="Pet The Cat"/>
    <add key="InvitationMessage3" value="Turn The Wheel"/>
    <add key="InvitationMessage4" value=""/>
    <add key="InvitationMessage5" value=""/>

    <!-- 
      Slide Show = 1
      Matching Game = 2
      Cats = 3
      Radio = 5
      Television = 6
      Painting Activity = 11
    -->
    <add key="Invitation1ResponseTypeId" value="2"/>     <!-- Matching Game -->
    <add key="Invitation2ResponseTypeId" value="0"/>
    <add key="Invitation3ResponseTypeId" value="0"/>
    <add key="Invitation4ResponseTypeId" value="0"/>
    <add key="Invitation5ResponseTypeId" value="0"/>
  </appSettings>
</configuration>
