<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <!-- ambient invitation -->
    <add key="AmbientVideoDuration" value="15000"/>       <!-- 15 seconds -->
    <add key="AmbientInvitationDuration" value="15000"/>  <!-- 15 seconds -->
    <add key="CaregiverTimeout" value="15000"/>  <!-- 15 seconds -->
  </appSettings>
</configuration>
