
@{
    ViewBag.Title = "Event Log Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Event Log Manager</h3>

<script type="text/javascript">
    $(document).ready(function () {
        eventlogs.index.init();
    });
</script>

<div class="panel panel-default">
    <div class="panel-heading panel-heading-controls">
        <ul class="nav nav-pills">
            <li>
                <input id="txtSearchFilename" type="text" class="form-control" placeholder="Name" data-bind="value: filenameSearch, valueUpdate: 'keyup'" />
            </li>
            <li class="pull-right total-files">
                <label>Total:</label> <span data-bind="text: totalEventLogs()"></span>
            </li>
        </ul>
    </div>
</div>

<div id="loading-container" class="loading"><img src="~/Content/images/page-loading.gif" alt="Loading..."></div>
<div id="error-container" hidden></div>

<div class="panel panel-default">
    <div class="panel-body panel-body-table-header">
        <!-- custom 'sticky' table header -->
        <div id="table-header" class="container table-header-container" hidden>
            <table class="table table-bordered">
                <thead>
                    <tr id="table-row-columns">
                        <!-- ko foreach: columns -->
                        <th data-bind="attr: { id: 'col-' + sortKey}, click: $parent.sort, css: cssClass"><a href="javascript:void(0)" data-bind="text: title"></a></th>
                        <!-- /ko -->
                        <td id="col-scrollbar" hidden></td>
                    </tr>
                </thead>
            </table>
        </div>

        <div id="no-records-message" class="no-records-found" hidden><h2>No event logs found</h2></div>

        <div id="table-detail" class="table-detail-container container-height" hidden>
            <table data-bind="tableUpdated: eventLogsTable" class="table table-striped table-bordered table-hover" id="tblEventLog">
                <tbody data-bind="foreach: eventLogsTable, tableRender: eventLogsTable">
                    <tr data-bind="attr: { click: $parent.highlightRow, id: 'row_' + streamid }">
                        <td class="col-filename-el"><a href="javascript:void(0)" data-bind="text: filename, click: download"></a></td>
                        <td class="col-filetype" data-bind="text: filetype"></td>
                        <td class="col-path" data-bind="text: path"></td>
                        <td class="col-filesize" data-bind="text: filesize"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

