
@{
    ViewBag.Title = "Event Log Export";
}

<script type="text/javascript">
    $(document).ready(function () {
        eventlog.exporter.init();
    });
</script>

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="report-title">
            <h3>Event Log Exporter</h3>
            <span>Exports the event log to excel.</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a id="export" class="btn btn-primary btn-lg">Export</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="label label-default">For Date</div>
                        <div class="input-group date" data-provide="datepicker">
                            <input id="export-date" type="text" class="form-control">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

