
@{
    ViewBag.Title = "Services Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        winservices.management.init();
    });
</script>


<div class="container-fluid">
    <div>
        <h3>Services Restart</h3>
        <span>Restart all Keebee AAT windows services.</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <button id="restart" class="btn btn-primary btn-lg">Restart</button>
        </div>
    </div>
</div>




