<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VideoDuration" value="120000"/>
    <add key="VideoEncodingQuality" value="0"/> <!-- auto = 0, HD1080p = 1, HD720p = 2, Wvga = 3, Ntsc = 4, Pal = 5, Vga = 6, Qvga = 7, -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
