<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VideoDevice" value="Webcam C170"/>
    <add key="AudioDevice" value="Microphone (2- Webcam C170)"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
