<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!-- AMBIENT INVITATION MESSAGES/RESPONSES -->
    
    <add key="AmbientVideoDuration" value="15000"/>       <!-- 15 seconds -->
    <add key="AmbientInvitationDuration" value="15000"/>  <!-- 15 seconds -->
  
      <!-- Accepted Invitation Response Values:
      Slide Show = 1
      Matching Game = 2
      Cats = 3
      Radio = 5
      Television = 6
      Painting Activity = 11
    -->
    
    <add key="InvitationMessage1" value="Touch The Screen"/>
    <add key="InvitationResponse1" value="2"/>            <!-- Matching Game -->
    
    <add key="InvitationMessage2" value="Pet The Cat"/>
    <add key="InvitationResponse2" value="0"/>
    
    <add key="InvitationMessage3" value="Turn The Wheel"/>
    <add key="InvitationResponse3" value="0"/>
    
    <add key="InvitationMessage4" value="Touch The Screen"/>
    <add key="InvitationResponse4" value="1"/>            <!-- Slide Show -->
    
    <add key="InvitationMessage5" value="Pet The Cat"/>
    <add key="InvitationResponse5" value="0"/>
    
    <add key="InvitationMessage6" value="Turn The Wheel"/>
    <add key="InvitationResponse6" value="0"/>
    
    <add key="InvitationMessage7" value=""/>
    <add key="InvitationResponse7" value="0"/>
    
    <add key="InvitationMessage8" value=""/>
    <add key="InvitationResponse8" value="0"/>
    
    <add key="InvitationMessage9" value=""/>
    <add key="InvitationResponse9" value="0"/>
    
    <add key="InvitationMessage10" value=""/>
    <add key="InvitationResponse10" value="0"/>

  </appSettings>
</configuration>