@model Keebee.AAT.Administrator.ViewModels.SharedLibraryAddViewModel
<style>
    #table_wrapper{border:1px solid lightgray;float:left;}
    #tbody{height:400px;overflow-y:auto;width:420px;}
    table{border-collapse:collapse; width:100%; font-size: 13px;}
    td{padding:1px 5px;} 
    .td1{width:30px;}
    .td2{width:360px;} /* optional */

    #header{width:420px}
    #header div{padding:5px;float:left;border-right: 1px solid lightgray;}
    #header #head1{width:33px;padding-left: 10px; background-color: aliceblue;} /* the same as td1 */
    #header #head2{width: 386px; border-right-width:0; padding-top:6px; background-color: aliceblue;}
</style>

<script>
    function chkItemClicked() {
        var filesChecked = $("input[name='shared_files']:checked").length;
        var totalFiles = $("input[name='shared_files']").length;

        if (filesChecked === totalFiles) {
            $("#chkAll").prop("checked", true);
        } else {
            $("#chkAll").prop("checked", false);
        }
    }

    function chkAllClicked() {
        var chkAllIsChecked = $("#chkAll").is(":checked");
        var chkFiles = $("input[name='shared_files']");

        if (chkAllIsChecked === true) {
            $(chkFiles).each(function (item, chk) {
                    $(chk).prop("checked", true);
                });
            } else {
            $(chkFiles).each(function (item, chk) {
                $(chk).prop("checked", false);
            });
        }
    }
</script>

@if (!@Model.SharedFiles.Any())
            {
                <div>@Model.NoAvailableMediaMessage</div>
            }
            else
            {
                <div id="table_wrapper">
                    <div id="header">
                        <div id="head1"><input type="checkbox" id="chkAll" onchange="chkAllClicked()"/></div>
                        <div id="head2"><b>Name</b></div>
                    </div>
                    <div id="tbody">
                        <table class="table table-striped table-bordered table-hover" id="tblSharedFile">

                            @foreach (var file in @Model.SharedFiles)
                            {
                                <tr>
                                    <td class="td1">
                                        <input type="checkbox" name="shared_files" id="@file.StreamId" onchange="chkItemClicked()"/>
                                    </td>
                                    <td class="td2">
                                        @file.Filename
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
}
<div style="clear: both"></div>