<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="DeploymentsPath" value="C:\Deployments"/>
    <add key="VideoCapturesPath" value="C:\VideoCaptures"/>
    <add key="BackupPath" value="C:\Backup"/>
  </appSettings>
</configuration>
