@model Keebee.AAT.Administrator.ViewModels.SharedLibraryAddViewModel

<script type="text/javascript">
    $(document)
        .ready(function() {
            sharedlibraryadd.index.init({
                profileId: @Model.ProfileId,
                mediaPathTypeId: @Model.MediaPathTypeId,
                mediaPathTypeDesc: '@Model.MediaPathTypeDesc',
                mediaPathTypeCategory: '@Model.MediaPathTypeCategory'
            });
        });
</script>
<div id="shared-library-add">
    <div class="panel panel-default panel-no-body">
        <div class="panel-heading panel-heading-controls">
            <ul class="nav nav-pills">
                <li>
                    <div class="label label-filter">Filename</div>
                    <input id="txtSharedSearchFilename" type="text" class="form-control text-filter" placeholder="Search" data-bind="value: sharedFilenameSearch, valueUpdate: 'keyup'" />
                </li>
                <li class="pull-right total-files">
                        <label>Total:</label> <span data-bind="text: sharedTotalFilteredFiles()"></span>
                    </li>
            </ul>
        </div>
    </div>

    <div id="shared-loading-container" class="loading"><img src="~/Content/images/page-loading.gif" alt="Loading..."></div>
    <div id="shared-error-container" hidden></div>

    <div class="panel panel-default">
        <div class="panel-body panel-body-table-header">
            <!-- use separate table for sticky headers -->
            <div id="shared-table-header" class="container table-header-container" hidden>
                    <table class="table" id="tblSharedFileHeader">
                        <thead>
                            <tr id="shared-table-row-columns">
                                <th class="col-checkbox"><input class="form-control checkbox-size-lg" type="checkbox" id="shared_chk_all" data-bind="checked: selectAllIsSelected, click: selectAllRows" /></th>
                                <th id="col-shared-thumbnail" class="col-thumbnail"></th>
                                <!-- ko foreach: sharedcolumns -->
                                <th data-bind="attr: { id: 'col-shared-' + sortKey}, click: $parent.sort, css: cssClass"><a href="javascript:void(0)" data-bind="text: title"></a></th>
                                <!-- /ko -->
                                <td id="col-shared-scrollbar" hidden></td>
                            </tr>
                        </thead>
                    </table>
                </div>

            <div id="shared-no-rows-message" class="no-rows-found" hidden><h2>Profile contains no media</h2></div>

            <div id="shared-table-detail" class="table-detail-container container-height" hidden>
                    <table data-bind="tableUpdated: sharedFilesTable" class="table table-striped table-bordered table-hover" id="tblSharedFile">
                        <tbody data-bind="foreach: sharedFilesTable, tableRender: sharedFilesTable">
                            <tr data-bind="attr: { id: 'shared_row_' + streamid }">
                                <td class="col-checkbox"><input type="checkbox" class="form-control checkbox-size" data-bind="attr: { id: 'shared_chk_' + streamid }, checked: isselected, click: $parent.selectFile" /></td>
                                <!-- ko if: !$parent.isAudio() -->
                                <td class="col-thumbnail">
                                    <a href="javascript:void(0)" data-toggle="tooltip" title="Preview it" data-bind="attr: { id: 'shared_thumb_' + streamid }, click: $parent.showPreview">
                                        <img alt="" width="40" height="40" data-bind="attr: { src: thumbnail }">
                                    </a>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: $parent.isAudio() -->
                                <!-- ko if: isplaying -->
                                <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'shared_audio_' + streamid }, click: $parent.showPreview, css: 'glyphicon glyphicon-pause'"></a></td>
                                <!-- /ko -->
                                <!-- ko if: ispaused -->
                                <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'shared_audio_' + streamid }, click: $parent.showPreview, css: 'glyphicon glyphicon-play play-paused'"></a></td>
                                <!-- /ko -->
                                <!-- ko if: !ispaused && !isplaying -->
                                <td class="col-thumbnail"><a href="javascript:void(0)" data-bind="attr: { id: 'shared_audio_' + streamid }, click: $parent.showPreview, css: 'glyphicon glyphicon-play'"></a></td>
                                <!-- /ko -->
                                <!-- /ko -->
                                <td data-bind="click: $parent.resetFocus, text: filename"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>