@{
    ViewBag.Title = "Keebee AAT Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        account.utilities.init();
    });
</script>

<div style="float: right"><h4><b><i>R2G2</i></b> Administrator</h4></div>
<div style="margin: 25px 0 25px 120px;"><img alt="" src="~/Content/images/R2G2.png" /></div>