@{
    ViewBag.Title = "Keebee AAT Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="float: right"><h4><b><i>ABBY</i></b> Administrator</h4></div>
<div style="margin: 25px 0 25px 120px; text-align: center"><img alt="" src="~/Content/images/ABBY.png" /></div>