@{
    ViewBag.Title = "Phidget Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document)
        .ready(function() {
            sysconfigs.index.init();
        });
</script>

<div class="row">
    <div class="col-sm-6">
        <h3>Phidget Configuration</h3>
    </div>
    <div class="col-sm-6">
        <div class="active-config-label">
            <h5>Active: <i><label id="lblActiveConfigDesc" data-bind="text: activeConfigDesc, css: 'label-active-config'"></label></i></h5>
        </div>
        <div class="active-eventlog-label">
            <h5>Event Logging: <i><label id="lblActiveEventLog" data-bind="text: activeEventLogDesc"></label></i></h5>
        </div>
    </div>
</div>

<div class="config-container">
    <div class="row">
        <div class="col-sm-5">
            <select class="form-control" data-bind="options: configs, optionsValue: 'id', optionsText: 'description', value: selectedConfig, event: { change: enableDetail }, css: 'select-config'"></select>
        </div>
        <div class="col-sm-6">
            <a id="add" href="#" class="btn btn-success btn-md" data-bind="click: showAddDialog, css: 'glyphicon glyphicon-duplicate button-text'"></a>
            <a id="edit" href="#" class="btn btn-primary btn-md" data-bind="click: showEditDialog, css: 'glyphicon glyphicon-pencil button-text'"></a>
            <a id="delete" href="#" class="btn btn-danger btn-md" data-bind="click: showDeleteDialog, css: 'glyphicon glyphicon-trash button-text'"></a>
        </div>
        <div class="col-sm-1">
            <button id="activate" class="btn btn-primary btn-md" data-bind="click: showConfigActivateDialog">Activate</button>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-10">
                <button id="add-detail" class="btn btn-success btn-md" data-bind="click: showEditDetailDialog">Add Detail</button>
            </div>
            <div class="pull-right record-total">
                <label>Total:</label> <span data-bind="text: totalConfigDetails()"></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-striped table-bordered table-hover" id="tblConfigDetail">
                    <thead>
                    <tr>
                        <th class="col-glyphicon"></th>
                        <th class="col-glyphicon"></th>
                        <!-- ko foreach: columns -->
                        <th data-bind="text: title"></th>
                        <!-- /ko -->
                    </tr>
                    </thead>

                    <tbody data-bind="foreach: configDetailsTable">
                    <tr data-bind="click: $parent.highlightRow, attr: {id: 'row_' +  id}">
                        <!-- ko if: canedit -->
                        <td><a href="#" data-bind="click: $parent.showDeleteDetailDialog, css: 'glyphicon glyphicon-remove'"></a></td>
                        <td><a data-bind="attr: { href: '#' }, click: $parent.showEditDetailDialog, css: 'glyphicon glyphicon-pencil'"></a></td>
                        <!-- /ko -->
                        <!-- ko if: !canedit -->
                        <td><span data-bind="css: 'glyphicon glyphicon-flag'"></span></td>
                        <td><span data-bind="css: 'glyphicon glyphicon-flag'"></span></td>
                        <!-- /ko -->
                        <td data-bind="text: phidgettype"></td>
                        <td data-bind="text: phidgetstyletype"></td>
                        <td data-bind="text: description"></td>
                        <td data-bind="text: responsetype"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
